body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  text-align: left;
  width: 100%;
  padding: 0;
  margin-top: 50px; 
}

main img {
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
}

.image-container {
  position: relative;
  width: 100%;

}

.name {
  position: absolute;
  top: 7%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: rgb(0, 0, 0);

  background-color: #ff9900b1;
  
}

.subtitle {
  display: block; 
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px; 
  color: rgb(0, 0, 0);

}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
  margin-top: 40px; 
  margin-bottom: 40px; 
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.item p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .name {
    top: 15%;
    font-size: 42px; 
  }

  .subtitle {
    font-size: 32px; 
  }
}

@media (max-width: 480px) {

  .catalog {
    grid-template-columns: 1fr;
}
  .name {
    font-size: 22px; 
  }

  .subtitle {
    font-size: 16px; 
  }
}


.price {
  display: block;
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.item p a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.item p a:hover {
  color: #0073e6;
}
